<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Belépési hiba!</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" style="color:darkred;font-size: 18px ">
                <u>Hibás felhasználónév vagy jelszó !</u>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#{{ modal_attr }}").modal();
    });
</script>


<div style=" position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;background-color: lightcyan">
    <nav class="navbar navbar-expand-sm navbar-dark  fixed-top" style="background-color:#000033; font-size: 19px">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ url_for('home') }}" class="navbar-brand" style="font-size: 23px">travel.hu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown my-auto">
                        <a class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Belépek</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form class="px-4 py-3" action="" method="post" validate>
                                {{ login_form.hidden_tag() }}
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">Email cím</label>
                                    {{ login_form.email(type="email" ,class="form-control" ,id="exampleDropdownFormEmail1" ,
                                       placeholder="name@example.com") }}
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">Jelszó</label>
                                    {{ login_form.password(type="password", class="form-control", id="exampleDropdownFormPassword1",
                                       placeholder="Jelszó") }}
                                </div>
                                <br>
                                {{ login_form.submit2(class="btn btn-info", style="margin-left:25%") }}
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('registration') }}">Új vagy itt ? Regisztrálj
                                be</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('registration') }}">Regisztrálok</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="mx-auto rounded " style="box-shadow:0 0 30px 1px;height:820px; background-image: url('../static/carretera.jpg'); background-repeat: no-repeat;
 max-width: 1500px; background-size: cover;   margin-top: 50px; padding-top: 8%; padding-left: 10%; padding-right: 10%">
        <form action="" method="post">
            <div class="form-row">
                <div class="col-md-3 "
                     style="padding: 0;border: 21px solid rgba(0,0,0, 0.6); border-bottom-left-radius: 10px; border-top-left-radius: 10px">
                    {% if search_form.honnan.errors %}
                        {{ search_form.honnan(class="form-control is-invalid",style="border-radius: 0") }}
                        <div class="invalid-feedback">
                            {% for error in search_form.honnan.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ search_form.honnan(class="form-control", placeholder="honnan", maxlength="40",style="border-radius: 0", title="a mező kitöltése kötelező") }}
                    {% endif %}
                </div>
                <div class="col-md-1 text-center"
                     style="padding: 0;border: 18px solid rgba(0,0,0, 0.0); background-color: rgba(0,0,0, 0.6)">
                    <span style="color:lightgrey"><i class="fas fa-angle-double-right"
                                                     style="font-size:42px"></i>
                    </span>
                </div>
                <div class="col-md-3" style="background-color: rgba(0,0,0, 0.6); padding: 20px">
                    {% if search_form.hova.errors %}
                        {{ search_form.hova(class="form-control is-invalid",style="border-radius: 0") }}
                        <div class="invalid-feedback">
                            {% for error in search_form.hova.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ search_form.hova(type="text", class="form-control", placeholder="hova", maxlength="40",style="border-radius: 0") }}
                    {% endif %}
                </div>
                <div class="col-md-5"
                     style="padding:0;border: 20px solid rgba(0,0,0, 0.6);border-bottom-right-radius: 10px;border-top-right-radius: 10px">
                    <div class="row" style="background-color: rgba(0,0,0, 0.6); margin-left: 0; margin-right: 0">
                        <div class="col-md-6" style="">
                            {% if search_form.estimated_travel_date.errors %}
                                {{ search_form.estimated_travel_date(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in search_form.estimated_travel_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ search_form.estimated_travel_date(class="form-control mx-auto",style="width: 92%; border-radius: 0",min=today_date) }}
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-center">
                            {{ search_form.submit_search(class="btn btn-primary btn-lg ",
                                    style="background-color:indianred; height: 40px; padding-top: 4px") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>