<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/64d844b5ac.js" crossorigin="anonymous"></script>

    <script>
        $(function () {
            setTimeout(function () {
                $("#flash").fadeOut(1500);
            }, 2000)
        })
    </script>

</head>
<body style="background-color: tan">
<nav class="navbar navbar-expand-sm navbar-dark  fixed-top" style="background-color:#000033; font-size: 19px">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ url_for('home') }}" class="navbar-brand" style="font-size: 23px">travel.hu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if user['passenger_or_driver'] == 'Sofőr' %}
                    <a class="nav-link text-light" href="{{ url_for('driver') }}">Hirdetéseim</a>
                    {% else %}
                    <a class="nav-link text-light" href="{{ url_for('passenger') }}">Foglalásaim</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('account') }}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('create_post') }}">Hirdetés feladása &ensp;</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="btn btn-light" type="button" href="{{ url_for('logout') }}">Kijelentkezés</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<img src="../static/golubovy.jpg"
     style="opacity: 60%; z-index:-1; position: fixed; bottom: 0;right: 0;top: 0;left: 0; width: 100%; height: 100%">

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'success' and message == 'Sikeres frissítés !' %}
                <div class="container alert alert-{{ category }} text-center" style="margin-top: 70px" id="flash">
                    <h4 class="alert-heading">{{ message }}</h4>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container" style="margin-top: 150px">
    <form action="" method="post" enctype="multipart/form-data" validate>
        {{ account_form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-3 pt-3" style="background-color:sienna; border-color: #3C271E; border-style: solid; border-bottom-left-radius: 15px;
         border-top-left-radius: 15px;color:aliceblue">
                <div class="text-center">
                    <img src="data:image;base64, {{user.profile_picture}}"
                         class="rounded-circle" alt="Responsive Image"
                         width="200" height="200"/>
                    <div class="form-group pt-3">
                        <label for="formControlFile" style="font-size: large">Profilkép feltöltése</label>
                        {{ account_form.picture(class="form-control-file",style="margin-left: 25px") }}
                        <!--<input type="file" class="form-control-file" id="formControlFile" style="margin-left: 25px" name="kep">-->
                        {% if account_form.picture.errors %}
                            {% for error in account_form.picture.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}

                    </div>
                    <hr>
                    <h2 style="font-family: Ubuntu,serif"
                        class="pb-3">{{ user["lastName"] }} {{ user["firstName"] }}</h2>
                    <h3><i class="fas fa-home pt-3"></i></h3>
                    {% if user["address"] == '' %}
                        <h3 style="margin-top: -10px">Nem megadott</h3>
                    {% else %}
                        <h3 style="margin-top: -10px">{{ user["address"] }}</h3>
                    {% endif %}
                </div>
            </div>


            <div class="col-md-9"
                 style="background-color:rgba(222,184,135,0.8); border-bottom-right-radius: 15px;border-top-right-radius: 15px; border-style: solid; border-width: 1px; border-color: #3C271E">
                <div class="row form-group pr-5 pl-5 pt-5 pb-2">
                    <div class="col">
                        <label for="userName" style="font-size: 20px; font-family: 'serif';">Felhasználónév</label>
                        {% if account_form.username.errors %}
                            {{ account_form.username(class="form-control is-invalid", style="width: 48%") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ account_form.username(type="text", class="form-control",placeholder="", id="userName", maxlength="30", style="width: 48%") }}
                        {% endif %}
                    </div>

                </div>
                <div class="row form-group pr-5 pl-5 pb-2">
                    <div class="col">
                        <label for="lastName" style="font-size: 20px; font-family: 'serif';">Vezetéknév</label>
                        {% if account_form.lastName.errors %}
                            {{ account_form.lastName(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.lastName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ account_form.lastName(type="text", class="form-control", id="lastName", placeholder="Vezetéknév", maxlength="30") }}
                        {% endif %}
                    </div>
                    <div class="col">
                        <label for="firstName" style="font-size: 20px; font-family: 'serif';">Keresztnév</label>
                        {% if account_form.firstName.errors %}
                            {{ account_form.firstName(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.firstName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ account_form.firstName(type="text", class="form-control", id="firstName", placeholder="Keresztnév", maxlength="30") }}
                        {% endif %}
                    </div>
                </div>
                <div class="row form-group pr-5 pl-5 pb-2">
                    <div class="col">
                        <label for="email" style="font-size: 20px; font-family: 'serif';">Email cím</label>
                        {% if account_form.email.errors %}
                            {{ account_form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ account_form.email(type="text", class="form-control", id="email", placeholder="name@example.com", maxlength="30") }}
                        {% endif %}
                    </div>
                    <div class="col">
                        <label for="phone" style="font-size: 20px; font-family: 'serif';">Telefonszám</label>
                        {{ account_form.phone_number( class="form-control", id="phone", placeholder="telefonszám", type="tel", pattern="[0-9].{9,}",
                                title="A telefonszám csak számokat tartalmazhat és legalább 10 számjegyből kell állnia") }}
                    </div>
                </div>
                <div class="row form-group pr-5 pl-5 pb-2">
                    <div class="col">
                        <label for="address" style="font-size: 20px; font-family: 'serif';">Tartózkodási hely</label>
                        {% if account_form.address.errors %}
                            {{ account_form.address(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.address.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ account_form.address(type="text", class="form-control", id="address", placeholder="település", maxlength="30") }}
                        {% endif %}
                    </div>
                    <div class="col">
                        <label for="driver_or_passenger"
                               style="font-size: 20px; font-family: 'serif'">Utas/Sofőr</label>
                        <select class="custom-select" id="driver_or_passenger" name="select">
                            {% if user["passenger_or_driver"] == 'Utas' %}
                                <option value="Utas" name="passenger" selected>Utas</option>
                                <option value="Sofőr" name="driver">Sofőr</option>
                            {% elif user["passenger_or_driver"] == 'Sofőr' %}
                                <option value="Utas" name="passenger">Utas</option>
                                <option value="Sofőr" name="driver" selected>Sofőr</option>
                            {% endif %}
                        </select>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'danger' %}
                                        <div class="alert alert-{{ category }} text-center"
                                             style=" padding: 2px ">
                                            <p style="margin: auto">{{ message }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="row form-group pr-5 pl-5 pb-2">
                    <div class="col-lg-6 text-center">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        {{ account_form.submit_account(class="btn btn-dark btn-lg", style="margin-top: 60px; margin-bottom: 20px") }}
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>


</body>
</html>